$azul: #01429e;
$amarillo: #33d42d;
$verde: #fff349;
$rojo: #ff1616;

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.card-hotel{
    padding: 7px;
   }

   footer{
        @include margenes(40px , 0px );
        padding: 10px;
        background-color:$azul;
        color: snow;
   }
   .btn-reserva{
       width: 100%;
   }
   .jumbotron{
       @include margenes(51px , 0px );
   }
   .footer-address-icon{
       padding-right: 10px;
   }