.card-hotel {
    padding: 7px; }
  
  footer {
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: #01429e;
    color: snow; }
  
  .btn-reserva {
    width: 100%; }
  
  .jumbotron {
    margin-top: 51px;
    margin-bottom: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  